#search {
	width: 33%;
	height: 250px;
	position: absolute;
	top: 200px;
	bottom: auto;
	left: 0;
	right: 0;
	margin: auto auto;
}

.element {
	background-color: blue;
	margin: auto auto;
}

.btn {
	position: absolute;
	top: 60%;
	left: 0;
	right: 0;
}
.btn_search {
	position: absolute;
	left: 28%;
	width: 20%
}

.btn_lucky {
	position: absolute;
	right: 28%;
	width: 20%;
}

img {
	max-width: 66%;
	position: absolute;
	height: 90px;
	margin: auto;
	left: 0;
	right: 0;
}

input[type="text"] {
	margin: auto;
	width: 95%;
	position: absolute;
	top: 43%;
	left: 0;
	right: 0;
}